* {
    overscroll-behavior-y: contain;
}

.news {
    grid-area: main;
    padding: 0px 10px;
    overflow: auto;
}

.refresh-icon {
    position: absolute;
    top: 80px;
    left: 49%;
    display: none;
}
